.event{
    width: 100%;
    height: 350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.event img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}